<div class="container">
    <input id="searchInput" type="text" class="search-icon" [(ngModel)]="filterValue" (input)="applyFilter()"
        placeholder="Search by name, email, role">
    <div *ngIf="filteredUsers && filteredUsers.length > 0">
        <table class="user-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" (change)="selectAll($event)">
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers" [ngClass]="{ 'selected': user.isSelected }">
                    <td>
                        <input type="checkbox" [(ngModel)]="user.isSelected" (click)="$event.stopPropagation()" />
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.name }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.name" />
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.email }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.email" />
                    </td>
                    <td>
                        <span *ngIf="!user.isEditing">{{ user.role }}</span>
                        <input *ngIf="user.isEditing" [(ngModel)]="user.role" />
                    </td>
                    <td>
                        <button class="edit-button" *ngIf="!user.isEditing" title="edit" (click)="editUser(user)">
                            <img src="assets/pencil-solid.svg">
                        </button>
                        <button class="cancel-button cancel-hover" *ngIf="user.isEditing" title="cancel"
                            (click)="cancelEdit(user)">
                            <img src="assets/xmark-solid.svg">
                        </button>
                        <button class="save-button" *ngIf="user.isEditing" title="save" (click)="saveChanges(user)">
                            <img src="assets/floppy-disk-solid.svg">
                        </button>
                        <button class="delete-button" (click)="deleteUser(user)" title="delete">
                            <img src="assets/trash-solid.svg">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <button [disabled]="currentPage === 1"
                class='{{currentPage === 1 ? "pagination-button disabled" : "pagination-button"}}'
                (click)="goToFirstPage()">
                <img src="assets/angles-left-solid.svg">
            </button>
            <button [disabled]="currentPage === 1"
                class='{{currentPage === 1 ? "pagination-button disabled" : "pagination-button"}}'
                (click)="goToPreviousPage()">
                <img src="assets/angle-left-solid.svg">
            </button>
            <button *ngFor="let page of getPageNumbers()"
                class='{{currentPage === page ? "pagination-button current-page" : "pagination-button"}}'
                [class.current-page]="page === currentPage" (click)="goToPage(page)">
                {{ page }}
            </button>
            <button [disabled]="currentPage === totalPages"
                class='{{currentPage === totalPages ? "pagination-button disabled" : "pagination-button"}}'
                (click)="goToNextPage()">
                <img src="assets/angle-right-solid.svg">
            </button>
            <button [disabled]="currentPage === totalPages"
                class='{{currentPage === totalPages ? "pagination-button disabled" : "pagination-button"}}'
                (click)="goToLastPage()">
                <img src="assets/angles-right-solid.svg">
            </button>
        </div>
    </div>

    <p *ngIf="!(filteredUsers && filteredUsers.length > 0)">No users found.</p>
    <button *ngIf="hasSelectedUsers()" (click)="deleteSelected()">Delete Selected</button>
</div>